<!--=========================*
            Footer
*===========================-->

<div class="footer">
    <p>© Copyright <a href="#">Paresh Champaklal Shah</a> All Rights Reserved</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<?php foreach($scripts as $script) : ?>
<script src="<?php echo $script; ?>"></script>
<?php endforeach; ?>
</body>

</html>