<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<?php echo $lang; ?>" dir="<?php echo $direction; ?>">

<head>

    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php if($description) : ?>
    <meta name="description" content="<?php echo $description; ?>">
    <?php endif; ?>
    <?php if($keywords) : ?>
    <meta name="keywords" content="<?php echo $keywords; ?>">
    <?php endif; ?>


    <!--=========================*
              Page Title
    *===========================-->
    <title><?php echo $title; ?></title>
    <!-- <base href="<?php echo $base; ?>" /> -->

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <?php foreach($styles as $style) : ?>
    <link type="text/css" rel="<?php echo $style['rel']; ?>" href="<?php echo $style['href']; ?>"
        media="<?php echo $style['media']; ?>">
    <?php endforeach; ?>

    <?php foreach($links as $link) : ?>
    <link rel="<?php echo $link['rel']; ?>" href="<?php echo $link['href']; ?>">
    <?php endforeach; ?>

    <link rel="stylesheet" href="template/view/dist/css/dashboard.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>