<body>
    <!---------------------->
    <div class="header">
        <nav class="navbar navbar-default menu-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#NavbarCollapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;">
                        <?php if(isset($logo)) : ?>
                        <img class="header-logo" src="<?php echo $logo; ?>" alt="<?php echo $name; ?>">
                        <?php else : ?>
                        <?php echo $name; ?>
                        <?php endif; ?>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="NavbarCollapse">
                    <!-- menu header -->
                    <ul class="nav navbar-nav main-menu">
                        <li class="active">
                            <a href="<?php echo $dashboard; ?>">
                                <i class="fa fa-dashboard menu-icon"></i>
                                <span class="menu-text"> Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $tracking; ?>">
                                <i class="fa fa-map-marker menu-icon"></i>
                                <span class="menu-text"> Tracking </span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bar-chart menu-icon"></i>
                                <span class="menu-text"> Reports </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo $dsr; ?>">DSR</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:;">Other</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- user header -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false" style="padding: 23px 15px 15px 15px;">
                                <img src="template/view/dist/images/user.jpg" class="nav-user-photo" alt="">
                                <span class="caret" style="margin-top: 15px;"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:;"><small>Welcome,</small> Dileep</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:;"><i class="fa fa-cog"></i> Setting</a></li>
                                <li><a href="javascript:;"><i class="fa fa-user"></i> Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="<?php echo $logout; ?>"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>